.inst{

    position: relative;
    width: 100%;
    height: 500px;
    background-color: transparent;
    padding-top: 120px;
    overflow: hidden;
}
.edi{
    margin: 0px;
    padding: 0px;
    list-style: block;
    margin-left: 50px;
 
}
.ti{
    font-size: 25px;
}
.ar{
    width: 1200px;
    height: 800px;
    box-align: center;
    margin-left: 80px;
    margin-top: 20px;
}
