.btns
{
  padding-top: 140px;
  padding-bottom: 10px;
  width: 800px; 
  margin: 0 auto;
}

.box-button button
{
  background: rgb(19, 103, 144);
}

body {
  font-family: Flexo-Demi;
}
.fig-hero {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.fig-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fig-hero .contents {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 172px;
  position: absolute;
}
.contents {
  display: flex;
  align-items: center;
}
.contents h1 {
  font-size: 4.9em;
  font-family: flexo-Demi;
  margin-bottom: 80px;
  color: #ffffff;
}
.contents .description {
  color: #ffffff;
  font-family: Flexo;
  margin-top: 60px;
  line-height: 24px;
  margin: 0 0px 0 39px;
  font-size: 1.4em;
  text-align: justify;
}
.fig-hero .overlays {
  background: black;
  top: 0;
  left: 0;
  right: 0;
  opacity: .6;
  bottom: 0;
  position: absolute;
}

:root{
	--bg-color:#141414;
}
body{
	box-sizing: border-box; 
}
*,
*:before,
*:after{
	box-sizing: inherit;
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
img{
	display:block;
	max-width:100%;
	height:auto;
}
/* Maquetación */
.main-content{
	background-color: var(--bg-color);
	display: grid;
	grid-template-columns:1fr;
}

.article{
	width: 100%;
	max-width: 1400px;
	margin:1rem auto;
	display:flex;
	align-items: center;
	justify-content: center;
}
.article-image{
	overflow: hidden;
	position: relative;
}
.article-image::before,
.article-image::after{
	content: '';
	position: absolute;
	transition: all .2s;
	top: 0;
	width: 33%;
	height: 100%;	
	z-index: 10;
	border:solid var(--bg-color);
}
.article-image::before{
	border-width: 2.5vw 1vw 2.5vw 1.9vw;
	left: 0;
}
.article-image::after{
	border-width: 1.5vw 1.9vw 1.5vw 1vw;
	right: 0;
}
@media all and (min-width: 768px) {
	.main-content{
		grid-template-columns: repeat(2,1fr);
	}
	.article:hover .article-image::before{
		border-width: 0;
		transition-delay: .12s;
	}
	.article:hover .article-image::after{
		border-width: 0;
	}
}