.box{
    padding-top: 120px;
}

.table-id{
    background-color: #F8341E;
}

.id-text{color: #F8341E;}

h2 {font-size: 2em;}



.tit {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    padding-top: 150px;
    text-align: center;
    color: #f44336;
}

.tbdirectory th h1, thead{
    font-weight: bold;
    font-size: 1em;
    text-align: left;
      color: #FFFFFF;
}

.tbdirectory td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.tbdirectory {
    text-align: left;
    padding-top: 50px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
}

.tbdirectory td, .tbdirectory th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
}

.tbdirectory tr:nth-child(odd) {
    background-color: #EEEAE7;
}

.tbdirectory tr:nth-child(even) {
    background-color: #FFFFFF;
}

.tbdirectory th {
    background-color: #15262F;
}

.tbdirectory td:first-child { 
    color: #f44336; 
}
.col{
    color: #f44336;
}
.tbdirectory tr:hover {
    background-color: rgb(243, 235, 235);
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}