body {
    font-family: Flexo-Demi;
}
.box{
    padding-top: 120px;
}
.containers {
    padding-top: 20px;
    display: grid;
    grid-template-areas: "figura requisitos procedimientos"
                         "figura tramites tramites";
    grid-gap: 20px;
}
p{
    font-family: flexo;
    color:#cecece;
}
.fondo h1 {
    font-size: 1.8em;
    text-align: center;
    font-family: flexo-light;
    margin: 40px 0  30px;
}
.box h3 {
    margin: 10px 0;
    color: #e6e6e6;
}
.box figure {
    grid-area: figura;
    width: 600px;
    overflow: hidden;
}
.box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#content-Requerimiento {
    grid-area: requisitos;
    background: #101f27;
    padding: 37px;
    border-radius: 10px;
}
.i-tem {
    transition: .3s;
}
.i-tem:hover {
    transform: scale(1.05);
}
#content-procedimientos {
    grid-area: procedimientos;
    background: #101f27;
    padding: 37px;
    border-radius: 10px;
}
#content-Terceros {
    grid-area: tramites;
    background: #101f27;
    padding: 37px;
    border-radius: 10px;
}
.text-strong{
    font-family: flexo-bold;
}
.fondo {
    margin: 0 50px 0px;
    font-size: 1.2em;
}
.fondo a {
    text-decoration: none;
    color: #ff1d47;
    margin: 30px 0;
    font-family: flexo-bold;
    text-align: center;
    display: block;

}
 p {
    margin: 8px 0;
}