body {
    font-family: Flexo-Demi;
}
.box{
    padding-top: 120px;
}

p{
    font-family: flexo;
}
.box h1 {
    font-size: 1.8em;
    text-align: center;
    font-family: flexo-light;
    margin: 20px 0  30px;
}
.box h3 {
    text-align: center;
}
.text-strong{
    font-family: flexo-bold;
    font-size: 16px;
}
.box-button {
    padding: 20px 0;
    text-align: center;
}
.box button {
    background: #ff1d47;
    border-radius: 3px;
    height: 33px;
    padding: 0;
    padding-right: 11px;
    margin-right: 14px;
    flex-direction: initial;
    color: #ffffff;
    transition: .2s;
    box-shadow: inset 0 -0.2em rgba(0,0,0, .2);
    border:none;
    padding: 10px 15px 30px;
    outline: none;
    will-change: transform;
}
.box-button button:active{
    transform: scale(1.1);
}
.fondo {
    margin: 0 300px 50px;
    font-size: 1.2em;
}
.fondo a {
    text-decoration: none;
    color: #ff1d47;
    margin: 50px 0;
    font-family: flexo;
    text-align: center;
    display: block;
}
.tablita {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
td {
    border: 1px solid rgb(167, 163, 163);
    padding: 20px 30px;
}
.figura-iss {
    margin: 0;
}
.figura-iss img {
    width: 100%;
}