/* Colores:
Negro-menu: #292828 
Blanco-menu: #E4E9F0
Boton-menu: #B72928
Negro-submenu: #212121
*/
/* @font-face {
    font-family: Flexo;
    src: url('../font/Flexo-Light.ttf'), url('../font/Flexo-Thin.ttf'), url('../font/Flexo-Regular.ttf'),
    url('../font/Flexo-Demi.ttf'),url('../font/Flexo-Medium.ttf'),url('../font/Flexo-Bold.ttf');
} */
@font-face {
    font-family: Flexo-Medium;
    src: url('../font/Flexo-Medium.ttf');
}
@font-face {
    font-family: Flexo-Light;
    src: url('../font/Flexo-Light.ttf');
}
@font-face {
    font-family: Flexo-Thin;
    src: url('../font/Flexo-Thin.ttf');
}
@font-face {
    font-family: Flexo;
    src: url('../font/Flexo-Regular.ttf');
}
@font-face {
    font-family: Flexo-Demi;
    src: url('../font/Flexo-Demi.ttf');
}
@font-face {
    font-family: Flexo-Bold;
    src: url('../font/Flexo-Bold.ttf');
}
body {
    font-family: Flexo-Demi;
}
/* HEADER */
.fa-bars {
    position: fixed;
    color: rgb(233, 233, 233);
    display: none;
    opacity: 0;
}
.header {
    background-color: #15262F;
    color: #E4E9F0;
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.container {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    margin: 0 auto;
    max-width: 1018px;
    flex-wrap: wrap;
    flex: 1;
}
.container-logo {
    display: inherit;
    align-items: center
}
h1 {
    margin: 0;
    font-size: .82em;
    line-height: 16px;
    margin-left: 12px;
}
figure {
    margin: 0px;
    display: inherit;
    align-items: center;
}
.menu {
    height: inherit;
    font-size: .82em;
}
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    height: inherit;
}
.header ol li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
}
.link { 
    color: #bbbbbb;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    padding: 10px 0;
    justify-content: center;
    position: relative;
}
.fa-caret-up {
    font-size: 2.5em;
    position: absolute;
    top: 34px;
    color:#101F27;
    opacity: 0;
}
ol li:nth-child(1).active i{
    opacity: 1;
    color:#101F27;
}
ol li:nth-child(2).active i{
    opacity: 1;
    color:#101F27;
}
ol li:nth-child(3).active i{
    opacity: 1;
    color:#101F27;
}
ol li:nth-child(4).active i{
    opacity: 1;
    color:#101F27;
}
ol li:nth-child(1).active a{
    color:#ffffff;
    transition: .5s;
}
ol li:nth-child(2).active a{
    color:#ffffff;
    transition: .5s;
}
ol li:nth-child(3).active a{
    color:#ffffff;
    transition: .5s;
}
ol li:nth-child(4).active a{
    color:#ffffff;
    transition: .5s;
}
ol li:nth-child(5).active a{
    color:#ffffff;
    transition: .5s;
}
ol li:last-child {
    display: inherit;
    align-items: center;
}
ol li:last-child a{
    background: #FD513E;
    border-radius: 3px;
    height: 33px;
    padding: 0;
    padding-right: 11px;
    margin-left: 14px;
    flex-direction: initial;
    color: #ffffff;
    transition: .2s;
    box-shadow: inset 0 -.2em rgba(0,0,0, .2);
    will-change: transform;
}
.btn:active {
    transform: scale(.9);
}
.btn:hover {
    background: rgb(248, 52, 30);
}
.fa-bell {
    margin-left: 9.2px;
    margin-right: 4.9px;
    font-size: 1.1em;
}
.fa-bell.notify {
    animation-name:bell;
    animation-duration:1s;
    transform-origin: center top;
    animation-timing-function: ease-out;
}
@keyframes bell {
    0% {
      transform: rotate(35deg);
    }
    12.5% {
      transform: rotate(-30deg);
    }
    25% {
      transform: rotate(25deg);
    }
    37.5% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(15deg);
    }
    62.5% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
/* SUB-HEADER */
.sub-container {
    height: 56px;
    background: #101F27;
    left: -100vw;
    width: 100vw;
    position: absolute;
    top: 56px;
    display: flex;
}
.sub-container.is-active {
    left: 0;
}
.sub-menu {
    display: inherit;
    justify-content: center;
    height: inherit;
    margin: 0 auto;
    max-width: 1018px;
    flex-wrap: wrap;
    flex: 1;
    font-family: Flexo-Demi;
}
.sub-menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    height: inherit;
}
.header ul li {
    height: inherit;
}
.sub-menu a {
    font-size: .82em;
    padding: 0 16px;
    text-align: center;
    color: #ffffff;
    height: inherit;
    margin: 0;
}
.sub-menu a:hover {
    background:rgb(253, 81, 62);
    transition: .3s;
    color:#fff;
}
.sub-menu a:active {
    transform: scale(.99);
}
.sub-menu li:last-child .link{
    display: none;
}
/* MIN-MENU */
ul .min-menu {
    background: #0d181f;
    flex-direction: column;
    align-items: center;
    height: auto;
    opacity: 0;
    transition: 1s;
    display: none;
}
.min-menu.add-menu.menu-is-active{
    opacity: 1;
    display: flex;
}
.min-menu li {
    width: 100%;
    display: block;
}
.min-menu a {
    text-decoration: none;
    display: block;
    padding: 30px 16px;
}
/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 410px;
    background-color: transparent;
    padding-top: 112px;
    overflow: hidden;
}
.image {
    position: absolute;
    width: 100%;
    height:100%;
    visibility: hidden;
    opacity: 0;
    z-index: -2;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    color: black;
    font-weight: bold;
    opacity: 0;
}
.hero a{
    position: absolute;
    text-decoration: none;
    color: rgba(255, 255, 255);
    font-size: 36px;
    top : 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.siguiente {
    left: 97%;
}
.anterior {
    left: 2%;
}
.puntos {
    position: absolute;
    top: 91%;
    width: 100%;
    text-align: center;
}
.punto {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
}
.punto:hover {
    cursor: pointer;
    background-color: rgb(2, 135, 224);
}
.hero a:hover {
    color: gray;
}
.actual {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}
.activo {
    background-color: rgb(2, 135, 224);
}
/* SERVICIOS */
.services {
    height: auto;
    color: #15262f;
}
.title-services {
    text-align: center;
    font-size: 1.8em;
    font-family: Flexo-Bold;
    margin: 0;
    margin-top: 10px;
    background: #101F27;
    color: white;
    padding: 20px 0;
}
.icons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #d6dde2;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.icons div:nth-child(1) {
    background: #2FA2D0;
    color: white;
}
.icons div:nth-child(2) {
    background: rgb(93, 224, 239);
    color: white;
}
.icons div:nth-child(3) {
    background: rgb(234, 100, 105);
    color: white;
}
.icons div:nth-child(4) {
    background: rgb(85, 189, 108);
    color: white;
}
.icons div:nth-child(5) {
    background: rgb(255, 251, 106);
    color: white;
}
.item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21px;
    width: 185px;
    height: 165px;
    transition: .4s;
    border-radius: 5px;
    margin: 0 15px;
}
.icons i {
    display: flex;
    align-items: center;
    font-size: 2.6em;
    margin: 0 30px;
}
/* .fa-angle-left:active {
    transform: scale(.9);
}
.fa-angle-right:active {
    transform: scale(.9);
}
.fa-angle-left:hover {
    color: rgb(255, 166, 0);
}
.fa-angle-right:hover {
    color: rgb(255, 166, 0);
} */
.item-icon:hover {
    transform: scale(.9);
    cursor: pointer;
}
.item-icon i {
    font-size: 2.8em;
}
.item-icon p {
    margin:0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.13em;
    text-align: center;
    /* text-transform: uppercase; */
    font-family: Flexo-Bold;
}
.item-icon .sub-des {
    margin:0;
    margin-top: 4px;
    font-size: .9em;
    font-family: Flexo-Medium;
    width: 160px;
    line-height: 20px;
}
/* EVENTOS-CIP */
.events-cip h2 {
    margin: 0;
    margin-bottom: 20px;
}
.container-figures {
    display: flex;
    flex-wrap: wrap;
}
.right {
    width: 50%;
    margin: 0;
    height: 378px;
    overflow: hidden;
    position: relative;
}
.left {
    width: 50%;
    margin: 0;
    height: 378px;
    overflow: hidden;
    position: relative;
}
.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}
.overlay {
    width:100%;
    background:black;
    position: absolute;
    top:0;
    bottom:0;
    opacity: .1;
    transition: 1s;
  }
  .content {
      color:white;
      position: absolute;
      font-size: 2.3em;
      font-family: Flexo-Thin;
      width: 60%;
      top: 60%;
      left: 8%;
      transition: 1s;
  }
  .left:hover .overlay {
    opacity: .5;
  }
  .left:hover .container-content {
    opacity: 1;
  }
  .left:hover .content {
    opacity: 0;
  }
  .left:hover img {
    transform: scale(1.1);
  }
  .right:hover .overlay {
    opacity: .5;
  }
  .right:hover .container-content {
    opacity: 1;
  }
  .right:hover .content {
    opacity: 0;
  }
  .right:hover img {
    transform: scale(1.1);
  }
  .container-content {
    width:100%;
    position: absolute;
    top:0;
    bottom:0;
    opacity: 0;
    color: white;
    transition: 1s;
    padding-left: 62px;
    padding-top: 36px;
  }
  .container-content h2 {
      font-size: 2.5em;
      margin: 0;
      line-height: 47px;
  }
  .container-content p {
    font-family: Flexo-Light;
    font-size: 1.5em;
    width: 80%;
    line-height: 28px;
    margin-bottom: 75px;
  }
  .link-content {
      background: #FF0031;
      color: white;
      font-family: Flexo-Light;
      text-decoration: none;
      padding: 12px 36px;
      transition: .2s;
      box-shadow: inset 0 -0.2em rgba(0,0,0, .2);
      will-change: transform;
  }
/* RECOMMENT */
.recomment {
    padding: 0px 50px;
}
.recomment h2 {
    margin-top: 50px;
    background: none;
    color: #15262f;
}
.gallery {
    margin: 40px 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,210px);
    grid-gap: 20px;
    justify-content: center;
}
.items {
    margin: 0;
    width: 100%;
    height: 277px;
    overflow: hidden;
    position: relative;
}
.items img {
    width: 100%;
    height: auto;
    transition: .4s;
}
.neo-overlay {
    background:#007cff;
    position: absolute;
    opacity: 1;
    height: 100%;
    left: -230px;
    width: 100%;
    transition: 1s;
}
.neo-content {
    color:white;
    position: absolute;
    font-size: .9em;
    font-family: Flexo-Thin;
    height: 100%;
    width: 100%;    
    left: -230px;
    transition: 1s;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.neo-content h2 {
    color:white;
    font-family: Flexo-Demi;
    margin: 0;
}
.neo-content p {
    margin: 10px 0;
}
.items:hover .neo-overlay {
    opacity: .7;
    left: 0;
}
.items:hover .neo-content {
    opacity: 1;
    left: 0;
}
.items:hover img {
    transform: scale(1.1);
  }
.buttom {
    display: flex;
    padding: 10px;
}
.recomment a {
    text-decoration: none;
    color: white;
    background: #FF0031;
    padding: 10px 32px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 -.2em rgba(0,0,0,.2);
    transition: .1s;
}
.recomment a:active {
    background: rgb(204, 3, 44);
}
/* NOTICES */
.notices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    max-width: 1175px;
    margin: 20px auto 0;
}
.notice-title {
    margin-left: 42px;
}
.notice-titles {
    margin-left: 200px;
}
.all {
    width: 100%;
    height: auto;
    grid-column: 1/3;
    background: #ececec;
    display: grid;
    grid-template-columns: 64% 36%;
}
.post-container {
    padding-top: 53px;
}
.post {
    margin-left:42px;
    background: #fff;
    padding-left: 28px;
    padding-right: 17px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    color: #4A4A4A;
    cursor: pointer;
    transition: .5s;
}
.post:hover {
    transform: scale(1.1);
}
.container-left {
    padding-right: 10px;
}
.data-container {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-top: 9px;
}
.data-container .tag {
    font-family: Flexo-Bold;
    background: #FF0031;
    padding: 3px 5px;
    color: white;
    border-radius: 3px;
    margin-right: 20px;
}
.data-container .date {
    margin-right: 20px;
}
.post-title {
    font-size: 1.4em;
    margin: 0;
    line-height: 27px;
}
.description-post {
    font-size: .8em;
    font-family: Flexo;
    line-height: 17px;
    margin: 8px 0;
}
.image-post {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 19px 0 0;
}
.image-post:hover img{
    transform: rotate(25deg) scale(2);
}
.image-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .9s;
}
.container-bottom {
    grid-column: 1/3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 5px;
}
.line {
    position: absolute;
    border-top: 1px solid #C5C4C4;
    width: 100%;
    top: 10px;
}
.container-bottom img {
    width: 30px;
    height: 30px;
    padding-top: 12.5px;
}
.bottom-left {
    display: flex;
    align-items: center;
}
.comment-content {
    font-family: Flexo;
    font-size: .8em;
    margin: 0 7px;
}
.bottom-right img {
    width: 20px;
    margin-left: 10px;
}
.videos {
    padding-top: 53px;
    padding-left: 34px;
    padding-right: 43px;
}
.videos iframe  {
    width: 100%;
    height: 202px;
}
/* AGREEMENTS */
.agreements h2{
    background: none;
    color:#15262F;
    margin-bottom: 23px;
}
.container-background {
    background: url("../img/logo_t.png");
    padding: 100px 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    grid-column-gap: 20px;
    justify-content: center;
    background: white;
    padding: 16px 100px;
}
.container-background  > figure { 
    margin: 0;
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
  }
.container-background img {
    width: 100%;
    height: auto;
}
/* COMMITEE */
.commitee h2 {
    background: none;
    color:#15262F;
    margin-bottom: 60px;
}
.wrapper-commitee {
    padding: 0 70px 0 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-people {
    background: #FF0031;
    padding: 10px 20px 8px;
    width: 400px;
    border-radius: 10px;
}
.content-people p:nth-child(1) {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: Flexo;
    margin:0;
    text-transform: uppercase;
}
.content-people p:nth-child(2) {
    font-size: 1em;
    font-family: Flexo;
    margin:0;
    color: #707070;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
}
.container-figures {
    /* border: 1px solid red; */
    position: relative;
}
.split {
    display: inherit;
}
.split-figu {
    margin: 0;
    width: 100%;
    opacity: .5;
    transition: .5s;
}
.split-figu img {
    width: 100px; 
    height: auto;
}
.split-figu.is-opacity {
    opacity: 1;
}
.split figure:nth-child(1) {
    transform: scale(1.2);
    margin: 0 10px;
}
.split figure:nth-child(3) {
    transform: scale(1.1);
    margin: 0 5px;
}
.split figure:nth-child(3).is-primary {
    opacity: 1;
}
.split figure:nth-child(4) {
    transform: scale(1.1);
    margin: 0 5px;
}
.split figure:nth-child(6) {
    transform: scale(1.1);
    margin-bottom: 20px;
}
/* FOOTER */
.footer {
    width: 100%;
    height: auto;
    background: rgb(6,10,15);
    background: linear-gradient(137deg, rgba(6,10,15,1) 0%, rgba(9,17,22,1) 44%, rgba(29,53,65,1) 100%);
    display: grid;
    grid-template-columns: 35% repeat(2,1fr);
    grid-gap: 40px;
    padding: 50px 60px 20px;
    margin-top: 100px;
    box-sizing: border-box;
    color: white;
}

.content-one {
    display: flex;
}
.content-one figure {
    margin: 0;
}

.content-one p {
    margin-left: 28px;
    width: 260px;
}
.footer h2 {
    font-size: 1.22em;
}
.footer div {
    width: 100%;
    height: auto;
}
.footer p{
    font-family: Flexo;
    font-size: 1em;
}
.icon-two {
    display: flex;
    margin: 30px 0;
}
.icon-two i {
    font-size: 1.13em;
    margin-right: 10px;
}
.icon-two p {
    margin: 0;
    font-size: 1em;
}
.two {
    justify-self:center; 
}
.footer .copy {
    height: 40px;
    grid-column: 1/4;
}
.trhee .icon-two p {
    line-height: 30px;
}
.trhee .icon-two  {
    margin: 20px 0;
}
.trhee span p {
    margin-left: 30px;
}
.copy p {
    border-top: 1px solid white;
    font-size: 1em;
    padding: 20px 0;
    margin: 0;
}

/* RESPONSIVE */
@media screen and (max-width:1024px) {
    .header {
        z-index: 2;
        display: block;
        height: 56px;    
    }
    .container {
        height:inherit;
    }
    .menu {
        background: rgb(31, 29, 29);
        height: 100vh;
        position: relative;
        left: -100vw;
        transition: .3s;
    }
    .menu.is-responsive {
        left: 0;
    }
    .container-logo {
        z-index: 4;
        }
    ol {
        display: initial;
    }
    .header ol li {
        height: 70px;
        text-align: center;
        padding: 10px 0;
    }
    .header a{
        justify-content: center;
    }
    .item:hover {
        background:#da0a26;
        transition: .3s;
        color:#fff; 
    }
    ol li:nth-child(1).active i{
        opacity: 0;
    }
    ol li:nth-child(2).active i{
        opacity: 0;
    }
    ol li:nth-child(3).active i{
        opacity: 0;
    }
    ol li:nth-child(4).active i{
        opacity: 0;
    }
    .container-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
    }
    ol li:last-child {
        display: flex;
       justify-content: center;
    }
    ol li:last-child a{
       width: 132px;
       margin: 0;
    }
    .sub-container.is-active {
        display: none;
    }
    .fa-bars {
        position: fixed;
        z-index: 4;
        color: white;
        font-size: 2em;
        display: block; 
        opacity: 1;
        margin:10px 20px;
        margin-right: 0;
    }
    /* HERO */
    .hero {
        padding-top: 56px;
        z-index: -5;
    }
    /* Reduce .2 em en las medidas */
    .title-services {
        font-size: 1.6em; 
    }
    .item-icon {
        padding-top: 34px;
        width: 172px;
        height: 138px;
    }
    .item-icon i {
        font-size: 3.6em;
    }
    .item-icon p {
        font-size: 1.3em;
    }
    /* EVENTOS CIP */
    .right {
        height: 278px;
    }
    .left {
        height: 278px;
    }
        /* COMMITEE */
        .wrapper-commitee {
            justify-content: center;
            }
            .content-people {
                margin-top: 30px;
            }
            .commitee h2 {
                margin-bottom: 30px;
            }
}
@media screen and (max-width:896px) {
    .icons .fa-angle-left {
        display: none;
    }
    .icons .fa-angle-right {
        display: none; 
    }
    /* EVENTOS CIP */
    .right {
        height: 238px;
    }
    .left {
        height: 238px;
    }
}
@media screen and (max-width:730px) {
    .icons {
        width: 74%;
    }
    /* EVENTOS-CIP */
    .events-cip {
        padding-top: 10px;
    }
    .right {
        width: 100%;
        height: 248px;
    }
    .left {
        width: 100%;
        height: 248px;
    }
    .container-figures img {
        width: 100%;
    }
}
@media screen and (max-width:484px) {
    /* SERVICIOS */
    .icons {
        width: 100%;
    }
}
@media screen and (max-width:375px) {
    .header ol li {
        padding:  0;
    }
    .menu {
        padding-top: 80px;
    }
    .container-logo {
        position: relative;
        top: 70px;
        left: -100vw;
        transition: .3s;
    }
    .container-logo.is-responsive {
        left: 0;
    }
    /* SERVICIOS */
    .title-services {
        font-size: 1.4em;
        margin-bottom: 30px; 
    }
}
@media screen and (max-width:375px) {
 /* EVENTOS CIP */
 .events-cip {
    padding-top: 10px;
}
.right {
    height: 228px;
}
.left {
    height: 228px;
}
}